doctype html
html
    head
        title Expense App
        link(rel='stylesheet' href="/css/styles.css")
        block styles
        script(src="/js/scripts.js")
        block scripts
    body
        h1 Fam Expense App
        block content