doctype html
html
    head
        title Expense App
        block styles
        link(rel='stylesheet' href="css/styles.css")
        link(rel="stylesheet", href="css/reset.css")
        link(rel="stylesheet", href="css/fonts/Roboto-Light.ttf")
        
        //- script(src="/js/scripts.js")
        //- block scripts
    body
        h1(class="app__title") Fam Expense App
        block content