doctype html
html
    head
        title Expense App
        block styles
        link(rel='stylesheet' href="css/styles.css")
        link(rel="stylesheet", href="css/reset.css")
        link(rel="stylesheet", href="css/fonts/Roboto-Light.ttf")
        block stylesUpdate
        link(rel="stylesheet", href="../css/styles.css")
        link(rel="stylesheet", href="../css/reset.css")
        link(rel="stylesheet", href="../css/fonts/Roboto-Light.ttf")
    body
        h1(class="app__title") Fam Expense App
        block content

