@font-face {
    font-family: "Roboto";
    src: url("./fonts/Roboto-Light.ttf");
  }
@font-face {
    font-family: "Roboto-Regular";
    src: url("./fonts/Roboto-Regular.ttf")
}
.container {
    display: flex;
    justify-content: center;
    flex-direction: row;
}
.app__title {
    font-size: 2.5rem;
    margin-bottom: 2rem;
    font-family: "Roboto-Regular";
    text-align: left;
    margin-left: 3rem;
    margin-top: 3rem;
    text-transform: uppercase;
}
input {
    border: 0.5px solid;
    border-radius: 0.5rem;
    text-align: center;
    padding: 1rem;
    margin: 0.2rem;
}
.submit__button {
    border: 0.5px solid;
    border-radius: 0.5rem;
    padding: 1rem;
}
.half__partition {
    display: flex;
    justify-content: space-around;
}
.right__partition {
    border: 0.3px solid;
    padding: 2rem;
    margin-left: 1rem;
}
.budget__section {
    margin-top: 2rem;
}
.category__titles {
    font-size: 2rem;
    font-family: "Roboto-Regular";
}
.category__subtitle {
    font-family: "Roboto";
    margin: 1rem 0rem 1rem 0rem;
    font-size: 1.6rem;
}
.categories__container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-decoration: underline;
    margin-bottom: 2rem;
    margin-top: 2.5rem;
}
.history__titles:first-child {
    margin-left: 0rem;
}
.history__titles {
    font-size: 2rem;
    margin-left: 8rem;
    font-family: "Roboto";
}
.reports__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 0.5rem;
}
.reports__container div {
    margin: 0.2rem 0 0.5rem 0;
}
.reports__text {
    font-size: 1.5rem;
    margin-right: 10rem;
    font-family: "Roboto";
}
.action__button {
    color: black;
    font-size: 1rem;
    margin-left: 0.7rem;
    padding: 0.3rem;
    font-family: "Roboto";
    text-decoration: none;
    border: 0.1px solid;
    border-radius: 20.5px;
}
.green__bg {
    background-color: #10d167;
}
.red__bg {
    background-color: #e47878;
}

.blue__bg {
    background-color: #749abe;
}

